<h1>Job Postings</h1>
 <%= link_to 'New Job', new_job_path %>
  <%= button_to "Refer", "referrals#new" %>
<table>
  <tr>
    <th>Company Name</th>
    <th>Referral Fee</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.name, "/jobs/#{job.id}" %></td>
      <td><%= job.referral_fee %></td>

    </tr>
  <% end %>
</table>