<p>
  <strong>Company Name:</strong>
  <%= @job.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

 <%= link_to 'Refer', new_referral_path %>
<%= link_to 'Back', jobs_path %>