<%= render 'layouts/header' %>

<section class="jobs">
  <div class="container">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#received-referrals" data-toggle="tab">Received Referrals</a></li>
      <li class=""><a href="#sent-referrals" data-toggle="tab">Sent Referrals</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="received-referrals">
        <%= render 'users/shared/received_referrals'%>
      </div>

      <div class="tab-pane fade" id="sent-referrals">
        <%= render 'users/shared/sent_referrals'%>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</section>

</br>

