<div>Hello <%=@inviter.first_name%> <%=@inviter.last_name%>, </div>
<br>
<div>
  You helped generate a successful placement by sharing our link on social media. As a thank you, you will receive $50 from us within 30 days. Please visit your account to receive your credit.
</div>

<br>

<div>
    Come back and continue your activities and help generate more successful placements!
    <a href="www.wekrut.com">www.wekrut.com</a>
</div>

<div>
  Thank You!
</div>
<br>
<div>
  WeKrüt Team
</div>


