   <%= render 'layouts/header' %>
   <section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading">Empower Your Network</h2>
                    

                        <%= render 'beta_form' %>

                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="about" class="content-section text-center">
     <div class="container">
           <div class="col-lg-6 col-lg-offset-3">
               <hr class="section-heading-spacer">
                   <div class="clearfix"></div>
                       <h2 class="section-heading">Empower your network
                       <br>Get Paid</h2>
                       <p class="lead">We incentivize altruism. Connect your network to jobs and recieve the referral fee.</p>
    
       </div>
   </div>
   <p></p> 

        <div class="container">
               <div class="col-md-4">
                   <i class="fa fa-pencil-square-o fa-5x"></i>
                   <p></p>
                   <h4 class="section-heading">Your Network is Talented</h4>
                   <p>Approved to join WeKrüt? Sign up!</p>
               </div>

               <div class="col-md-4">
                   <i class="fa fa-suitcase fa-5x"></i>
                   <p></p>
                   <h4 class="section-heading">We Show You the Jobs</h4>
                   <p>Search available jobs. Know someone that would be a good fit? Krüt them.</p>
               </div>
           
               <div class="col-md-4">
                   <i class="fa fa-money fa-5x"></i>
                   <p></p>
                   <h4 class="section-heading">Incentivize Altruism</h4>
                   <p>Receive a fee if your referral is hired.</p>
               </div>
       </div>
       <!-- /.container -->
   </section>
        <%= render 'layouts/footer' %>


