<table>
  <tr>
    <th>Referral Type</th>
    <th>Company Name</th>
    <th>Job Name</th>
    <th>Referral Name</th>
    <th>Referral Candidate</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

  <% @referrals.each do |referral| %>

    <tr>
      <td><%= link_to referral.referral_name, "/referrals/#{referral.id}" %></td>
      <% end %>
   <% @jobs.each do |job| %>

      <td><%= link_to job.name, "/jobs/#{job.id}" %></td>

     </tr>

<% end %>
</table>