<div>
  <strong> Job Name: <strong>
  <%=@job.name%>
  <%=@job.id%>
</div>

<% if @ref_type == "refer" %>
  <%= render 'referrals/shared/referral_form' %>
<% else %>
  <%= render 'referrals/shared/ask_referral_form' %>
<% end %>
