
body {
    width: 100%;
    height: 100%;
    background-color: #67809f;
    font-family: "Lato", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Lato",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    background-color: #fff;
    color: #000;
}

.navbar-home {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    background-color: #fff;
    color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        border-bottom: 0;
        letter-spacing: 1px;
        background: #fff;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-home {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('header-bg1.jpg') no-repeat scroll center top;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}
.brand-heading {
    margin-top: 50px;
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    color: 000;
}

.section-heading {color: 000;
}


@media(min-width:767px) {
    .content-section {
        padding: 50px;
        background-color: #fff;
        color: 000;
    }

    .download-section {
        padding: 100px;
        color: #fff;
    }
     .contact-section {
        padding: 100px;
        background-color: #000;
        color: #fff;
    }

}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Lato",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #FFF;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #16a085;
    outline: 0;
    color: #000;
    background-color: #16a085;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}










figcaption.ratings {
    margin-top:20px;
}


figcaption.ratings a {
    color:#f1c40f;
    font-size:11px;
}

figcaption.ratings a:hover {
    color:#f39c12;
    text-decoration:none;
}

.divider {
    border-top:1px solid rgba(0,0,0,0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom:0;
    }

span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #1abc9c;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }

    .wrapper {
   height: 80px;
  
   top: 50%;
   margin-top: -40px;
   width: 100%;
}



.about-section {background: #2c3e50;
   color: #fff;
    width: 100%;
    padding: 25px;
    min-height: 275px;

}

.white-section {background: #fff;
   color: #000;
    width: 100%;
    padding: 25px;
    min-height: 275px;

}

.form-container {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
    margin: 100px auto;
}

.profile {

    min-height: 355px;
    display: inline-block;
}
.candidate_section {
   padding: 20px 10px 10px 10px;}

.person_header {
position: relative;
min-height: 80px;
padding: 20px 10px 10px 20px;
background-color: #f8f8f8;
font-size: 1.5em;
border-bottom: dotted 1px #aaa;
}


.details-section {
position: relative;
position: relative;
border-bottom: dotted 1px #aaa;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: rgb(170, 170, 170);
margin-bottom: 10px;
padding: 20px;
font-size: 16px;
min-height: 60px;
}

.details-section_end {
position: relative;
position: relative;

border-bottom-color: rgb(170, 170, 170);
margin-bottom: 10px;
padding-bottom: 20px;
padding-left: 20px;
font-size: 16px;
}

.candidate {
   border:1px solid;
border-color: #bdc3c7;}

.bg-wekrut {
   color: #fff;
   background-color: #1abc9c; 
   padding: 10px;
   font-size: 20px;
}


.Close_Button {
    color: #fff;
    padding: 5px;
    border: 1px solid #fff ;
    font-size: 16px;
}

.Refer_Button {
    color: #1abc9c;
    padding: 5px;
    border: 2px solid #1abc9c ;
    font-size: 20px;

}

.panel-referal {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: inherit;
}

.banner {
background-color: #1abc9c;
color: #fff;
min-height: 250px;
padding: 50px;

}

.fa_img {
    padding: 50px;
}

.page {
    min-height: 500px;
}

.center {
    text-align:center
}

.clouds {
    color: #ecf0f1;
    padding-top: 20px;
}
.extrapad {
    padding-top: 50px;
}

.services {
    background: #1abc9c;
   color: #fff;
}

.jobs {width: 100%;
    height: 100%;
    padding: 75px 0;
    background-color: #67809f;

}

.section-heading {color: 000;
}

.fa-bars {
    color:#000;
}

.tab-font {
    text-transform:uppercase;
    font-size: 18px;
    color: #fff;
}

.flash{
    background-color: #67809f;
    color: #ecf0f1;
}

.search-form{
    color: #2c3e50;
}

.badge {
    padding: 3px;
    background-color: #c0392b;
    border-radius: 0px;
    color:#fff;
}


