<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
       
      <div class="container">
               <div class="navbar-header">
                   <ul class="list-inline">

                       
                       <li><a href="mailto:info@wekrut.com">Contact WeKrüt</a>
                       </li>
                       <li class="footer-menu-divider">&sdot;</li>
                       <li><% if admin_signed_in? %>

             <%= link_to "Recruiter Sign out", destroy_user_session_path, :method => :delete %> <% else %> <%= link_to "Recruiter Log In", new_admin_session_path %><% end %>
                       </li>
                       <li class="footer-menu-divider">&sdot;</li>
                       <li> <% if user_signed_in? %>

             <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> <% else %> <%= link_to "Log In", new_user_session_path %><% end %>
                       </li>
                     </ul>
                      <p class="copyright text-muted small">Copyright &copy; WeKrüt, Inc. Made in Brooklyn since 2014 </p>
                   </div>
                   
                   
               <div class="pull-right">
              

               <ul class="list-inline">
                        <li><a href="https://twitter.com/wekrut"><i class="fa fa-twitter fa-2x pull-right"></i></a>
                        </li>
                        <li><a href="https://facebook.com/wekrut"><i class="fa fa-facebook fa-2x pull-right"></i> </a>
                        </li>
                         <li><a href="http://wekrut.tumblr.com/"><i class="fa fa-tumblr fa-2x pull-right"></i></a>
                        </li>
                        <li><a href="http://youtu.be/ib4mQe0Nq6U"><i class="fa fa-youtube fa-2x pull-right"></i> </a>
                        </li>
                        <li><a href="mailto:info@wekrut.com"><i class="fa fa-envelope fa-2x pull-right"></i></a>
                        </li>
                    </ul>
                   
      </div>
           
       </div>
    
       <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51488589-1', 'wekrut.com');
  ga('send', 'pageview');

</script>
   </nav>