<div> Hello! </div>

<div>Your email <%=@email%> is approved to sign-up for the private WeKrüt beta test. WeKrüt is a referral marketplace where users can earn fees by successfully placing candidates from their network into jobs. Check us out, and keep checking in, new jobs will be added over the next month. Please follow the link below to sign up. </div>

<%= link_to 'Sign Up', url_for(controller: 'home', action: 'index', only_path: false)%>

<div>Empower your network!</div>
<div>WeKrüt Team</div>